<iframe class="w-screen h-full absolute" [src]="videoUrl" frameborder="0"></iframe>
<div class=" bg-white">
    <div class="pt-[15%] px-24 absolute text-white ">
        <h1 class="text-6xl font-bold">{{banTitle}}</h1>
        <p class="inline-block py-6 text-xl w-1/4 flex-wrap"> {{banDes|description}}</p>
        <div>
            <button class="bg-slate-100 text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-80 transition-[1s]">
                ▷Play
            </button>
            <button class="mx-2 bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-50 rounded-xl">
                More Info
            </button>
        </div>
    </div>
   
</div>